html{
	font-family: monospace, sans-serif;
	font-size: 3vmin;
	scroll-behavior: smooth;
}
#home, #skills, #projects, #contact{
	box-shadow: 0 1vmin 2vmin rgba(89, 89, 89, 0.7)
}
/*Navigation bar*/
#navbar{
	background-color: #008080;
	background-attachment: fixed;
	padding: 0.5vh;
	left: 0;
	top: 0;
	display: block;
	width: 100vw;
	position: fixed;
	z-index: 1;
	overflow: hidden;
	margin-top: 0;
	box-shadow: 0.2vh 0.3vh 0.7vh #00b3b3;
}
.navbar_container{
	display: inline;
	position: relative;
}
.navitem{
	display: inline-block;
	margin-right: 1vw;
	text-align: center;
	padding: 0.3vmin;
}
.navitem a{
	letter-spacing: 0.25vmin;
	padding: 0.4vmin;
	text-decoration: none;
	text-align: center;
	color: #F5F5F5;
}
#logo{
	margin-left: 0;
	margin-right: 58vw;
	padding: 1vmin;
	background-color: #333333;
	mix-blend-mode: screen;
	border-radius: 1vmin;
}
.navitem a:hover{
	color: #99ffe6;
	border-bottom: 0.4vmin solid #99ffe6;
	position: relative;
}
#logo a:hover{
	border-bottom-color: transparent;
	text-decoration: unset;
	color: #F5F5F5;
}

/*Home or Introduction*/
#home{
	height: 100vh;
	top: 8vh;
}
#home * {
	box-sizing: border-box;
}
.column {
	letter-spacing: 0.4vmin;
	padding: 2vh;
	text-align: center;
	float: left;
	width: 50%;
	height: 100vh;
}
.grid_home:after {
	content: "";
	display: table;
	clear: both;
}
.hom_itm_img{ 
	text-align: center;
	margin-left: 0;
	width: 50%;
	padding: 8vh 4vmin;
}
.hom_itm_img img{
	margin-top: 3rem;
}
.grid_home .intro{
	font-size: 3.5vmin;
	color: #808080;
	line-height: 1.5;
	background-color: #0d0d0d;
}
.column .name{
	font-size: 6vmin;
	color: #00b3b3;
}
.column .name span{
	font-size: 3.5vmin;
	color: #808080;
}
.profession{
	column-count: 3;
	column-gap: 0;
	column-rule: 1vmin dotted #00b3b3;
	color: #808080;
	margin-left: 2vmin;
	display: block;
	padding: 1vmin;
	text-align: center;
	left: auto;
}
.profession .child{
	width: 21vw;
	bottom: 25vh;
	font-size: 3vmin;
	letter-spacing: 0.4vmin;
	line-height: 3vmin;
	padding: 1vmin;
	color: #ccc;
	position: absolute;
	mix-blend-mode: screen;
	border-radius: 2vmin;
	background-color: #003333;
	box-shadow: 0.2vmin 0.2vmin 1vmin #80ffff;
	display: none;
}
.stud{
	right: 27vw;
}
.delp{
	right: 14vw;
}
.intn{
	right: 1vw;
}
.prof:hover{
	color: #ccc;
	text-shadow: 0 0 0.6vmin #00cc99;
}
.student:hover + .stud{
	display: inline;
}
.developer:hover + .delp{
	display: inline;
}
.intern:hover + .intn{
	display: inline;
}
.brief .social li{
	display: inline-block;
	padding: 3vmin 2vmin;
	font-size: 4vmin;
	color: #808080;
}
.brief .social a{
	padding: 1vmin 1vmin;
	color: #808080;
	text-decoration: none;
}
.social{
	z-index: 0;
	padding: 1vmin 2vmin;
	display: block;
	right: 0;
	position: relative;
	top: 20vh;
	border-bottom: 0.8vh double #1ba7a7;
}

.brief .social .soc_con:hover{
	display: inline-block;
	padding: 2vmin 2vmin;
	font-size: 4vmin;
	color: #808080;
}
.brief .social li:hover a{
	color: #ccfff2;
	padding: 0.6vmin 0.7vmin;
	font-size: 4.5vmin;
}

/*Skills section */
#skills{
	letter-spacing: 0.5vmin;
	color: #262626;
	height: 101vh;
	overflow-x: hidden;
	background: linear-gradient(to top right, rgba(255, 204, 255, 0.6) 0%, rgba(135, 206, 250, 0.6) 90%);
	background-blend-mode: screen;
}
.skill_container{
	margin-left: 5%;
	column-count: 3;
}
#skills > .skl_title{
	text-align: center;
	text-shadow: 0 0.2vmin 0.5vmin #00cc99;
	color: #006666;
	font-family: monospace, sans-serif;
}
.skill_itm{
	background: linear-gradient(to top right, #ffccff 5%, #87cefa 95%);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: right;
	width: 25vw;
	padding: 2vmin;
	border-radius: 1vmin;
	border-bottom-right-radius: 5vmin;
	border: 0.3vmin solid #006666;
	transition-property: box-shadow;
	transition-duration: 300ms;
	user-select: none;
}
.skill_itm:hover{
	box-shadow: 1vmin 1vmin 2vmin #006666;
}
.prog_bar .prog_contain > i{
	font-weight: bold;
	font-size: 2.2vmin;
	position: absolute;
	right: 1vmin;
	top: -0.2vmin;
}
.prog_bar{
	width: 80%;
	height: 2.2vh;
	background-color: transparent;
	padding: 0.5vmin;
	border: 0.3vmin solid #006666;
	border-radius: 1vw;
}
.prog_contain{
	top: -3.5vh;
	left: -1.5%;
	height: 1.8vmin;
	position: relative;
	border-radius: 1vw;
	background-color: #008080;
}
.html .prog_contain, .css .prog_contain{
	width: 80%;
}
.javascript .prog_contain{
	width: 25%;
}
.c_lang .prog_contain{
	width: 95%;
}
.c_plus .prog_contain{
	width: 40%;
}
.python .prog_contain{
	width: 18%;
}
/*Created projects appearence*/
#projects{
	background-color: #262626;
	box-sizing: border-box;
}
#projects > .head_title{
	font-family: monospace, sans-serif;
	letter-spacing: 0.5vmin;
	color: #ccc;
	text-align: center;
	text-shadow: 0 0 0.4vmin #fff;
}
.project_container{
	padding: 5vmin 3vmin;
	margin-left: 2vw;
	column-count: 4;
	column-width: 20vw;
	overflow-x: hidden;
}
.prj_item{
	width: 20vw;
	height: 22vw;
	padding: 1vw 2vw;
	box-sizing: border-box;
	border: 0.8vmin double #008080;
	border-radius: 25% 5%;
	transition-property: box-shadow;
	transition-duration: 300ms;
}
.prj_item .describe{
	color: #b3b3b3;
}
.prj_item > a{
	text-decoration: none;
	color: #008080;
}
.prj_title{
	border-bottom: 0.5vmin solid #595959;
}

.prj_item:hover{	
	box-shadow: 0.5vmin 0 2vmin #ccf2ff;
}
.prj_item:hover .prj_title{
	text-shadow: 0.1vmin 0.1vmin 0.2vmin #e6e6e6;
	border-bottom: 0.5vmin solid #000;
}
.shw_btn{
	font-size: 2.5vmin;
	padding: 1.5vmin 2vmin;
	position: relative;
	margin-left: -30vw;
	text-align: center;
	border: 0.4vmin solid #006666;
	border-radius: 1vmin;
	background-color: transparent;
	color: #b3b3b3;
	transition: color 300ms;
}
.shw_btn:hover{
	color: #008686;
}
/*Contact section*/
#contact{
	padding: 1vmin;
	text-align: center;
	background-color: #f2f2f2;
}
#contact .cont_title{
	font-family: monospace, sans-serif;
	letter-spacing: 0.5vmin;
	color: #008080;
	text-shadow: 0.2vmin 0.2vmin 0.4vmin #0cc0cc;
}
.cont_container{
	column-count: 2;
	padding: 1vmin 2vmin;
	column-rule: 0.3vmin solid #999;
}
.cont_container .contact_img_container{
	padding: 2vmin; 
	text-align: center;
}
.cont_container .contact_img_container .cont_img{
	user-select: none;
	border-radius: 2vmin;
	box-shadow: 0 0 4vmin #333;
}
.cont_details{
	padding: 2vmin;
}
.cont_details .cont_form{
	margin-left: 3vh;
}
.cont_form .info{
	padding: 1%;
	margin: 3vh 1vh;
	color: #404040;
	border: none;
	border-bottom: 0.5vmin solid #00b3b3;
	background-color: transparent;
	font-size: 3vmin;
	transition-duration: 300ms;
}
.cont_form .info:focus{
	border: none;
	border-bottom: 0.5vmin solid #008080;	
}
.cont_form .info_submit{
	padding: 1vmin;
	margin-top: 3vh;
	border-radius: 2vmin;
	background: transparent;
	border: 0.3vmin solid #262626;
	box-shadow: 0.5vmin 0.5vmin 1vmin #333;
	font-size: 2.5vmin;
	transition-duration: 100ms;
}
.cont_form .info_submit:active{
	box-shadow: 0.1vmin 0.1vmin 0.4vmin #333;
}
.cont_details .cont_icon{
	display: block;
	padding: 2vmin 1vmin;
}
.cont_icon a{
	padding: 0.8vmin 2vmin;
	text-decoration: none;
	color: #262626;
	font-size: 4vmin;
	transition-duration: 300ms;
}
.cont_icon a:hover{
	padding: 0 1.6vmin;
	color: #00b3b3;
	font-size: 4.7vmin;
}
#contact .copyright{
	padding: 1vmin 2vmin;
	font-size: 2vmin;
}